<div class="new-schedule-registraiton">
    <h3>勉強会の追加</h3>
    <div class="form">
        <%= form_for @schedule do |f| %>
            <div class="field form-group">
                <%=  f.hidden_field :user_id, value: current_user.id %>
            </div>
            <div class="field form-group">
                <%= f.label :location, "場所" %>
                <%= f.text_field :location, class:"form-control" %>
            </div>
            <div class="field form-group">
                <%= f.label :date, "日付" %>
                <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                    <%= f.text_field :date, class:"form-control datetimepicker-input", data: {target: "#datetimepicker4"} %>
                    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="field form-group">
                <%= f.label "時間" %>
                <%= f.time_select :start_at, {}, class:"form-control" %>
                <span> ~ </span>
                <%= f.time_select :finish_at, {}, class:"form-control" %>
            </div>
            <div class="field form-group">
                <%= f.label "備考欄" %>
                <%= f.text_area :comment, class:"form-control" %>
            </div>
            <div class="field">
                <%= f.submit "決定", class: "btn btn-primary form-control" %>
            </div>
            
        <% end %>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker({
                    format: 'L'
                });
            });
        </script>
    </div>
    
</div>

