<div class="new-schedule-registraiton">
    <h3>勉強会の追加</h3>
    <div class="form">
        <%= form_for @schedule do |f| %>
            <div class="hidden-field">
                <%=  f.hidden_field :user_id, value: current_user.id %>
            </div>
            <div class="field">
                <%=  f.label "場所", :location %>
                <%=  f.text_field :location %>
            </div>
            <div class="field">
                <%=  f.label "日時", :start_at %>
                <%= f.text_field :start_at, class: "form-control datetimepicker-input", id: "start_at", data: {toggle: "datetimepicker", target: "#start_at"} %>
                <%#= f.time_select :start_at, {}, class: 'form-control' %>
            </div>
            <div class="field">
                <%=  f.label "コメント"  %>
                <%=  f.text_field :comment %>
            </div>
            <div class="field">
                <%=  f.submit "決定", class: "btn btn-primary" %>
            </div>
            
        <% end %>
    </div>
    
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>