<!DOCTYPE html>
<html>
  <head>
    <title>ProgCommunity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <!--ヘッダー-->
      <div class="header f-container">
        <%= render 'layouts/header' %> 
      </div>
      <!--テンプレート-->
      <%= yield %>
      <div class="footer">
        
      </div>
    </div>
    
  </body>
</html>
